
 .App {
  /* text-align: center; */
  /* margin: .5%; */
  top:0;
  bottom: 0;
} 


.tgflixbx{
  position: absolute;
  height: 22px;
  bottom: -25px;
  right: 35px;
 
}

.myFlixbx{
  position: absolute;
   /* margin: 36%;*/
   bottom: -25px;
   right: 35px;
  }

h1{

     height: 22vm;
  width: 160px;
  /* text-align: center; */
  background: red;
  color: white;
  border: 3px solid black;
  margin: 20%; 
  bottom: 15%;
 /* justify-content: center;*/
  align-items:flex-end;
 }

 .homecss{
  background-color: red;
}

/* .welcomebanner{ */
  /* height: 50vpx;
  width: 50px;
  text-align: center; 
  background: red;
  color: white;
  border: 3px solid black; */
/* } */

.sideMenu{
  background-color:black;
  width:auto;
  height:100%;
  margin:0px;
  justify-content:space-around;
  box-sizing:border-box;
  position:absolute;
  /* display:flex; */
  color:white;
  /* linear-gradient=(to-right, black,gray);  */
  /* border: 2px solid black; */
}

.bgPicture{
  width: 100vw;
  height:100vh; 
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(Images/DareDevil.jpg);
  background-size: cover;  

 } 

li{
  list-style: none;
}


.who{
  align-items: center;
  justify-content: center;
  
}

.searchcss{
display:flex;
border: 2px solid red;
height: 31em;
width: 35em;
justify-content: center ;
margin:auto;
align-items: center;



}


.searchcbar{
  display:flex;
  border: 2px solid black;
  /*background: linear-gradient(45deg, red 155 pink, white);*/
  color:black;
  
} 



