.App{
  
}
.tgflixbx{
  display: flex;
  height: 22px;
  width: auto;
  justify-items: center;
  align-items:fle-end;
  padding: 5px;
  

}

h1{
  
  height: 22vm;
  width: 150px;
  /* text-align: center; */
  background: red;
  color: white;
  border: 3px solid black;
  margin: 20%; 
  bottom: 15%;
  justify-content: center;
  flex:end;
}


/* .nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;  
  list-style: none;
  box-sizing: border-box;
  top:0;;
  bottom: 0;
  left:0;
  right:30px;
  background-color: black;
  color:white;
  border: 3px solid black;
 } */

 .who{
   align-items: center;
   justify-content: center;
 }

 /* .testPic{
  padding:0%;
  width: 100vw;
  height:50vh;
  /* position: relative; */
  /* /background-position: center center cover;  */
  /* background-image: url(Images/Upshaws1.jpg);

} */ */

nav{
  justify-content: space-around; 
  align-items: center;
  min-height:5vh;
  background: green;
  font-weight: 400;
  box-shadow: 1px 1px 25px .5px rgb(150, 25, 25);
  margin:30%;
 
}
.sideMenu{
  background-color:black;
  width:10vw;
  height:90vh;
  margin:0px;
  justify-content:space-around;
  box-sizing:border-box;
  position:absolute;
  display:flex;
  color:white;
  border: 2px solid black;
}

.bgPicture{
  /* margin:0%; */
  /* padding:0%; */
  width: 100vw;
  height:100vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center; 
  background-image: url(Images/DareDevil.jpg);
  /* radial-gradient(rgb:0,0,0,0), (rgb 0,0,0,0,7) no-repeat center center/cover; */
   /* background-size: cover;  */
/* opacity: .8; */
 z-index: -3;

/* box-shadow: 25px  25px 25px 25px;
box-sizing: border-box; */

}

li{
  list-style: none;
  
}


 .App {
  /* text-align: center; */
  /* margin: .5%; */
  top:0;
  bottom: 0;
} 



/* .searchcss{
  color: white;
} */

.aboutcss{
  background-color:white;
}

.homecss{
  background-color: red;
}
